/* Empty. Add your own CSS if you like */
.button{
	font-size: 20px;
}

.tab-item {
    color: blue;
}
.icon {
    color: blue;
}

.input-label {	
	color: blue;
	font-weight: bolder;
	font-size: 20px;
	font-family: "arial";
	border-spacing: 2px;
	border-collapse: separate;
}


