<div class="ionic">
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-ios-arrow-left flat" ng-click="back()"></button>
    <h1 class="title fab-left">Camera</h1>
  </div>
  <button class="button button-fab button-fab-bottom-right button-assertive icon ion-power" ng-click="submit()"></button>
</div>
  <ion-content>
    <div class="list padding">
      <div class="item item-image">
        <img ng-src="{{data}}" alt="Image Placeholder"> 
      </div>
    </div>
  </ion-content>
