<ion-content class="ionic scroll-bg">
  <div class="hero no-header flat">
    <div class="content">
      <h1 class="light logo-font"><strong>One Remote</strong></h1>
    </div>
  </div>
  <div class="card">
    <label class="item item-input">
      <i class="icon ion-email placeholder-icon"></i>
      <input ng-model="vm.email" type="text" placeholder="Email">
    </label>
    <label class="item item-input">
      <i class="icon ion-key placeholder-icon"></i>
      <input ng-model="vm.pass" type="password" placeholder="Password">
    </label>
  </div>
  <div class="padding-horizontal padding-top">
    <button class="button button-block button-positive" ng-click="signInWithPassword(vm)">Login</button>
  </div>
  <div class="padding">
    <button class="button button-block button-assertive" ng-click="signInWithGoogle()">Login with Google+</button>
  </div>
</ion-content>