<ion-side-menus class="ionic">
  <!-- Center content -->
  <ion-side-menu-content>
    <div class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon flat" ng-click="toggleLeft()"></button>
      <button class="button button-icon icon ion-android-more-vertical flat pull-right" ng-click="openPopover($event)"></button>
      <h1 class="title fab-left">Menu</h1>
    </div>
    
    <div class="content has-header">
      <div class="card">
        <div ng-click="shutdown()">
          <div class="item item-avatar item-text-wrap stable-bg" >
            <span class="avatar shutdown"></span>
            <strong>Shutdown Options</strong><br>
            Shutdown, Restart, Log off, Hibernate
          </div>
        </div>
      </div>
      <div class="card">
        <div ng-click="camera()">
          <div class="item item-avatar item-text-wrap stable-bg">
            <span class="avatar camera"></span>
            <strong>Camera</strong><br>
            Capture photo from computer's camera
          </div>
        </div>
      </div>
    </div>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <div class="bar bar-header expanded bar-dark">
      <h1 class="title">{{username}}</h1>
    </div>
    <div class="content has-header">
      <div class="list">
        <a class="item item-divider">Devices: {{data.selectedDevice.name}}</a>
        <ion-radio ng-repeat="device in allDevices"
                   ng-value="device"
                   ng-model="data.selectedDevice"
                   >
          {{device.name}}
        </ion-radio>
      </div>
      <div class="list">
        <a class="item item-divider"></a>
        <a class="item" nav-clear menu-close ng-click="logOut()">
          <strong>Log out</strong>
        </a>
      </div>
    </div>
  </ion-side-menu>
</ion-side-menus>
