<ion-header-bar class="bar-stable">
  <button class="button button-clear" ng-click="back()">
    <i class="icon ion-ios-arrow-left"></i>
  </button>
  <h1 class="title">Shutdown Options</h1>
</ion-header-bar>

<ion-content>
  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Task
      </div>
      <select ng-model="selectedTask" ng-options="task.name for task in tasks">
      </select>
    </label>

    <label class="item item-input item-select" ng-show="selectedTask.time">
      <div class="input-label">
        Time
      </div>
      <select ng-model="selectedTime" ng-options="time.name for time in timeOptions">
      </select>
    </label>
    <label class="item item-input" ng-show="selectedTask.time && selectedTime.other">
      <div class="input-label">
        Custom time
      </div>
      <input type="number" ng-model="selectedTime.value">
    </label>
  </div>
  <div class="button-bar">
    <a class="button" ng-click="submit()" ng-bind="selectedTask.name"></a>
  </div>
</ion-content>