<ion-content class="scroll-bg">
  <div class="ionic">
    <div class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-ios-arrow-left flat" ui-sref="login"></button>
      <h1 class="title">Sign up</h1>
    </div>
  </div>
  <div class="padding">
    <div class="padding">
      <div class="padding content has-header">
        <h4 class="text-center stable">One Remote</h4>
        <div class="padding">
          <label class="item item-input input-form light-border">
            <span class="input-label"><strong class="stable">Email</strong></span>
            <input style="color: white" ng-model="user.email" type="text">
          </label>
        </div>
        <div class="padding">
          <label class="item item-input input-form light-border">
            <span class="input-label"><strong class="stable">Password</strong></span>
            <input style="color: white" ng-model="user.pass" type="password">
          </label>
        </div>
        <div class="padding">
          <label class="item item-input input-form light-border">
            <span class="input-label"><strong class="stable">Re-type</strong></span>
            <input style="color: white" ng-model="user.retype" type="password">
          </label>
        </div>
        <div class="ionic">
          <div class="padding">
            <button class="button button-block button-positive" ng-click="createAccount(user)">Create Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
