@font-face {
  font-family: ;
}
.text-center {
  text-align: center;
}
.scroll-bg {
  background-image: url("../img/Share Wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-font {
  font-family: 
}
.shutdown {
  background-image: url("../img/power.png");
}
.camera {
  background-image: url('../img/camera.png');
}
.margin-bottom {
  margin-bottom: 40px
}
.line-height-small {
  line-height: 0.8;
}
/*.list .item-radio input:checked ~ .item-content   {
  background-color: white;
  color: black;
}*/

.transparency {
  background-color: transparent;
}