/* Empty. Add your own CSS if you like */

@font-face {
  font-family: ;
}

.text-center {
  text-align: center;
}

.scroll-bg {
  background-image: url("../img/Share Wallpapers.jpg");
  size: cover;
}

.logo-font {
  font-family: 
}
