<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-ios-arrow-left" ui-sref="main-menu"></button>
  <h1 class="title">Camera</h1>
</ion-header-bar>

<button class="button button-fab button-fab-bottom-right button-positive icon ion-social-instagram" ng-click="submit()"></button>

</div>
  <ion-content>
    <div class="content has-header">
      <div class="list padding">
        <div class="item item-image">
          <img ng-src="{{data}}" alt="Image Placeholder"> 
        </div>
      </div>
    </div>
  </ion-content>
