<ion-popover-view>
  <ion-content>
    <ul class="list">
      <a class="item" ui-sref="about" ng-click="closePopover()">
        About
      </a>
      <a class="item" ng-click="closePopover()">
        Help
      </a>
      <a class="item" ng-click="closePopover()">
        Feedback
      </a>
      <a class="item" ng-click="closePopover()">
        Rate us
      </a>
      <a class="item" ng-click="closePopover()">
        Share with friends
      </a>
    </ul>
  </ion-content>
</ion-popover-view>